
<footer class="page-footer orange">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          
        </div>
        
        <div class="col l3 s12">
          
        </div>

          <ul class="contact-info container center">
            <li class="facebook"><a href="#"><i class="fa fa-facebook-official fa-2x menu-brown-text"></i></a></li>
            <li class="instagram"><a href="#"><i class="fa fa-instagram fa-2x menu-brown-text"></i></a></li>
            <li class="twitter"><a href="#"><i class="fa fa-twitter fa-2x menu-brown-text"></i></a></li>
          </ul>
      
      </div>
    </div>

    <div class="footer-copyright">
      <div class="contatiner left" id="copyright">
         &#169; 2015 Grafficards
      </div>
      <div class="container center">
      Made with <i class="fa fa-heart-o"></i> in Sofia
      </div>

    <div class="container right">
      <i class="fa fa-cc-paypal menu-brown-text"></i>
    </div>

    </div>
</footer>
